<div class="new-card-form">
  <label>
    Title
    <input type="text">
  </label>
  <label>
    Description
    <textarea rows="3"></textarea>
  </label>
  <button class="save-card">Save</button>
</div>