<form class="new-card-form">
  <label>
    Title
    <input type="text" name="card[title]">
  </label>
  <label>
    Description
    <textarea name="card[description]" rows="3"></textarea>
  </label>
  <button class="save-card">Save</button>
</form>