<h1><%= feed.escape('title') %></h1>

<button id="refresh">Load new posts</button>

<ul class="feed-items list-unstyled">
  <% entries.forEach(function (entry) { %>
    <li>
      <a href="<%=entry.escape("link")%>"><%= entry.escape('title') %></a>
    </li>
  <% }); %>
</ul>
