<h1><%= @user.username %>'s Goals</h1>

<ul>
  <% @user.goals.each do |goal| %>
    <li><%= link_to goal.title, goal_url(goal) if goal.public || @user.id == current_user.id %></li>
  <% end %>
</ul>

