<!DOCTYPE html>
<html>
<head>
  <title>FeedMe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="font_preload" style="opacity: 0">
    <span style="font-family: 'Glyphicons Halflings', Arial, sans-serif;"></span>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
