<% action_url = ((controller == :users) ? users_url : session_url) %>
<% submit_text = ((controller == :users) ? "Sign up!" : "Login!") %>

<form method="POST" action="<%= action_url %>">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  
  <label>Username
    <input type="text" name="user[user_name]" value="<%= user.user_name %>">
  </label>
  <br>
  
  <label>Password
    <input type="password" name="user[password]">
  </label>
  <br>
  
  <input type="submit" value="<%= submit_text %>">
</form>
