body {
  font-family: sans-serif;
}

.green {
  color: darkgreen;
}

.red {
  color: red;
}

h1, h3 {  
	text-align: center;
}

#board {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 2px black solid;
}

#board > div {
  width: 15px;
  height: 15px;
  background: white;
  float: left;
  border-radius: 4px;
}

#board > div.snake {
  background: green;
}

#board > div.apple {
  background: red;
  border-radius: 10px;
}