<% follow_state = user.followers.include?(current_user) ? 'followed' : 'unfollowed' %>

<button type="button" action="<%= user_follow_url(user) %>" data-user-id="<%= user.id %>" data-initial-follow-state="<%= follow_state %>" class="follow-toggle"></button>