.tabs a.active {
  font-weight: bold;
}

div.tab-pane {
  display: none;
}

div.tab-pane.active {
  display: block;
  opacity: 1;
  transition: 0.5s;
}

div.tab-pane.transitioning {
  display: block;
  opacity: 0;
  transition: 0.5s;
}

