<% url = (action == :new) ? notes_url : note_url(note) %>
<% http_verb = {:new => 'post', :edit => 'patch'}[action] %>
<% action_description = {:new => 'Create note', :edit => 'Update note'}[action] %>

<form action="<%= url %>" method="post">
  <input type='hidden' name='_method' value='<%= http_verb %>'/>
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>" />

  <label>Your note<br>
    <textarea rows="4" cols="50" name="note[body]"></textarea>
  </label>
  <br>

  <input type="submit" value="<%= action_description %>">
</form>