<form role="form" action="#">
  <div class="hidden">
    <input type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">  
  </div>

  <div class="form-group">
    <label for="name">Your Name</label>
    <input class="form-control" type="text" id="name" placeholder="John Doe">
  </div>

  <div class="form-group">
    <label for="email">Your Email</label>
    <input class="form-control" type="email" id="email" placeholder="john@doe.com">
  </div>

  <div class="form-group">
    <label for="message">What can we help you with?</label>
    <textarea class="form-control" id="message" placeholder="Your message"></textarea>
  </div>

  <input type="button" class="btn btn-primary" value="Submit" id="contact-submit">
</form>