<h4>Our awesome employees</h4>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jane</td>
      <td>(123)-456-7890</td>
    </tr>
    <tr>
      <td>David</td>
      <td>(555)-555-1234</td>
    </tr>
    <tr>
      <td>Bob</td>
      <td>(222)-222-2222</td>
    </tr>
    <tr>
      <td>Tim</td>
      <td>(987)-654-3210</td>
    </tr>
  </tbody>
</table>