<div class="jumbotron">
  <h1>Ponzi and <strong>you</strong></h1>
  <p><strong>Ponzi and me</strong> is the best site (actually it's a web app) ever for learning about Ponzi schemes &mdash; and buying in.</p>
  <div class="row">
    <div class="col-md-6">
      <h2>The best of the best</h2>
      <p>When you work with us, you can trust that your investment will be the most unprofitable, least reputable, and overall worst investment that you ever have made, or possibly could make in the future.</p>
    </div>
    <div class="col-md-6">
      <h2>You might be disappointed</h2>
      <p>There is nothing more disappointing than lorem ipsum text. Ipsum dolor sizzle amizzle, boom shackalack adipiscing brizzle. Shizznit sapizzle dope, gangster volutpizzle, phat quis, pot vizzle, crackalackin.</p>
    </div>
  </div>
  <div id="team-members" class="row text-center">
    <h1>Meet the team</h1>
    <div class="col-md-3 col-xs-5">
      <%= image_tag "loverboy.jpg", class: "img-circle", width: "100%", height: "100%" %>
      <h2>Jack Swanson</h2>
      <p>Gorgeous in the main pleasure to use, where gorgeous, to sum up awful user experience personally delay in getting Ice Cream Sandwich all in all iTunes makes it easy.</p>
    </div>
    <div class="col-md-3 col-xs-5">
      <%= image_tag "einstein-girl.jpg", class: "img-circle", width: "100%", height: "100%" %>
      <h2>Matilda Stevens</h2>
      <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.</p>
    </div>
    <div class="col-md-3 col-xs-5">
      <%= image_tag "brain-lover.jpg", class: "img-circle", width: "100%", height: "100%" %>
      <h2>Ryan Cramer</h2>
      <p>As I was groping to remove the chain from about my victim's neck I glanced up into the darkness to see six pairs of gleaming eyes fixed, unwinking, upon me.</p>
    </div>
    <div class="col-md-3 col-xs-5">
      <%= image_tag "sleep-deprived.jpg", class: "img-circle", width: "100%", height: "100%" %>
      <h2>Dan Arnold</h2>
      <p>Dan doesn't get enough sleep. Culpa pour-over aesthetic officia Marfa selfies Carles 8-bit. Biodiesel kitsch pug, laboris narwhal fap est locavore salvia gastropub 90's.</p>
    </div>
  </div>
</div>