<h1>Contact us</h1>

<div class="row">
  <div class="col-sm-6">
    <%= render 'static_pages/contact_form' %>
  </div>

  <div class="col-sm-6">
    <%= render 'static_pages/employees' %>
  </div>
</div>