<form method="post", action="<%= cats_url %>">
  <label>Name
    <input type="text" name="cat[name]">
  </label>
  <br>
  
  <label>Age
    <input type="text" name="cat[age]">
  </label>
  <br>
  
  <label>
    <input type="radio" name="cat[sex]" value="M">Male<br>
  </label>
  <label>
    <input type="radio" name="cat[sex]" value="F">Female
  </label>
  <br>
  
  <select name="cat[color]">
    <option value="default_blank" selected>Choose Color</option>
    <option value="red">red</option>
    <option value="yellow">yellow</option>
    <option value="purple">purple</option>
    <option value="blue">blue</option>
  </select>
  <br>
  
  <label>Birth Date
    <input type="date" name="cat[birth_date]" max="<%= Date.current %>"><br>
  </label>
  
  <label>Description<br>
    <textarea rows="4" cols="50" name="cat[description]"></textarea>
  </label>
  
  <br>
  <br>
  <input type="submit" value="Create Cat">
</form>

