<div class="col-xs-4 col-xs-offset-1">
  <h1>Log in!</h1>

  <form role="form" action="/session" method="POST">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
    
    <div class="form-group">
      <label for="user_username">Username</label>
      <input class="form-control" type="text" name="user[username]" id="user_username">
    </div>

    <div class="form-group">
      <label for="user_password">Password</label>
      <input class="form-control" type="password" name="user[password]" id="user_password">
    </div>

    <input type="submit" class="btn btn-primary" value="Log in!">
  </form>
</div>